*,
*::before,
*::after{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

:root {
    --dk-voilet : hsl(268,75%,9%);
    --lt-voilet : hsl(268,47%,21%);
    --lt-voilet2 : hsl(281,89%,26%);
    --vb-voilet : hsl(285,91%,52%);
    --vb-voilet2 : hsl(295,70%,36%);
    --vb-yellow : hsl(52,100%,62%);
    --pl-white : hsl(0,0%,100%);
    --vb-cyan : hsl(176,100%,44%);
    --vb-cyan2 : hsl(177,92%,70%);
    --dk-text : hsl(198,20%,13%);
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(155, 137, 155, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    max-width: 450px;
}

h1{
    opacity: 0.75;
    color: var(--pl-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position: relative;
    background-color: var(--dk-voilet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-voilet2);
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.display{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    color: var(--vb-yellow);
}

.display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--vb-yellow);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
position: absolute;
top: 50%;
right: 1.5rem;
transform: translateY(-50%);
}